.crime-tile-wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 5px 5px 20px 20px;
  padding: 2rem;
}

.inner-three-tile-wrapper {
  display: flex;
}

.last-year {
  width: 100%;
  color: var(--main-bg-color);
  font-size: 2em;
  margin: 0;
  line-height: 1;
  height: 10%;
}

/* .secondary-info {
  font-size: 1em;
} */
