.crime-tile-wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));

  gap: 30px 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 5px 5px 20px 20px;
  padding: 2rem;
}

.three-tile-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid var(--accent-pink);
  border-radius: var(--card-radius);
  padding: 5px;
  gap: 5px;
}

.inner-three-tile-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;

  height: 100%;
  gap: 5px;
}

.last-year {
  color: var(--main-text-color-light);
}

/* .last-year {
  width: 100%;
  color: var(--main-bg-color);
  font-size: 2em;
  margin: 0;
  line-height: 1;
  height: 10%;
} */

/* .secondary-info {
  font-size: 1em;
} */
