.wellbeing-tile-wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 30px 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 5px 5px 20px 20px;
  padding: 2rem;
  height: 65vh;
}

.four-wellbeing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.wellbeing-card {
  justify-content: space-between;
}

.wellbeing-info {
  padding: 0 2rem;
}

.wellbeing-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 870px) {
  .wellbeing-tile-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .four-wellbeing {
    grid-template-columns: 1fr;
  }
}
