.six-tile-wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  /* grid-template-rows: minmax(300px, 1fr) minmax(300px, 1fr); */

  gap: 30px 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 5px 5px 20px 20px;
  padding: 2rem;
}

.big-number {
  font-size: 5rem;
}

.secondary-info {
  font-size: 1.1rem;
}

/* TABLET STYLES 820px */

@media (max-width: 1016px) {
  /* summary styles */

  .page-wrapper {
    padding: 0 1rem;
  }

  .tab-container {
    overflow: auto;
    white-space: nowrap;
    justify-content: flex-start;
  }
}
