.rent-tile-wrapper {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  align-content: space-around;
  border-radius: 5px 5px 20px 20px;
  max-width: 80%;
  margin: 0.2em auto;
  height: 65vh;
  padding: 3em 9em;
}

.left-column {
  width: 35%;
  height: 50%;
}

.right-column {
  width: 60%;
  height: 50%;
}

.four-tile-wrapper {
  display: flex;
  justify-content: center;
}

.four-tile {
  width: 22%;
  margin: 0.65em;
}

/* img {
  width: 50%;
  max-height: 10%;
  object-fit: contain;
} */

.big-number {
  font-size: 8em;
}

h3 {
  font-size: 0.5em;
}
