/* .rent-tile-wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 5px 5px 20px 20px;
  padding: 2rem;
} */

.rent-tile-wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 30px 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 5px 5px 20px 20px;
  padding: 2rem;
}

/* .rent-item-1 {
  grid-column: 1 / span 1;
}

.rent-item-2 {
  grid-column: 2 / span 4;
}

.rent-item-3 {
  grid-column: 1 / span 1;
} */

/* .rent-page-top-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px 10px;
}

.rent-page-bottom-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 30px 10px;
} */

.four-tile-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 100%;
}

@media (max-width: 600px) {
  .four-tile-wrapper {
    grid-template-columns: 1fr;
  }
}
