.left-column {
  width: 35%;
  height: 50%;
}

.right-column {
  width: 60%;
  height: 50%;
}

.four-tile-wrapper {
  display: flex;
  justify-content: center;
}

.four-tile {
  width: 22%;
  margin: 0.65em;
}


data-visualisation {
  width: 50%;
  max-height: 10%;
  object-fit: contain;
} 

.big-number {
  font-size: 8em;
}

h3 {
  font-size: 0.5em;
}
