* {
  text-align: center;
}

.data-visualisation {
  max-height: 45%;
  border-radius: 5px;
}

.house-type {
  display: flex;
}

.house-type > h3 {
  order: 1;
}

.house-type > p {
  order: 1;
}

.house-type > img {
  order: 2;
}

.age {
  display: flex;
  align-items: stretch;
}
