* {
  text-align: center;
}

.secondary-info {
  font-size: 0.9em;
}

.heading {
  font-size: 2em;
}

.card-heading {
  font-size: 2em;
}

.card {
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

.data-visualisation {
  max-height: 45%;
  border-radius: 5px;
}

.emoji {
  font-size: 8em;
}

.house-type {
  display: flex;
}

.house-type > h3 {
  order: 1;
}

.house-type > p {
  order: 1;
}

.house-type > img {
  order: 2;
}

.age {
  display: flex;
  align-items: stretch;
}
