/* font imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* variables */

:root {
  /* color variables */
  --secondary-bg-color: #191f38ff;
  --main-bg-color: #fceef0ff;
  --accent-blue: #5063f7ff;
  --accent-yellow: #fae161ff;
  --accent-pink: #f0195aff;
  /* text color variables */
  --main-text-color-dark: #191f38ff;
  --main-text-color-light: #fceef0ff;
  /* card variables */
  --card-radius: 23px;
}

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  letter-spacing: 1.2px;
  background-color: var(--main-bg-color);
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--main-text-color-light);
}

h1 {
  font-size: 4em;
  padding: 0.3em;
}

/* typography styles */

/* ---------------- */

.yellow {
  background-color: var(--accent-yellow);
  color: var(--main-text-color-dark);
}

.blue {
  background-color: var(--accent-blue);
  color: var(--main-text-color-light);
}

.pink {
  background-color: var(--accent-pink);
  color: var(--main-text-color-light);
}

.navy {
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color-light);
}

.card {
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 3em;
}

.page-wrapper {
  background-color: var(--main-bg-color);
  text-align: center;
  height: 100vh;
}
.six-tile-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 70%;
  margin: 0.2em auto;
  height: 65vh;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  align-content: space-around;
  border-radius: 5px 5px 20px 20px;
  padding: 3em 8em;
}

.six-tile {
  width: 30%;
  height: 48%;
}

.rent-tile-wrapper {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  align-content: space-around;
  border-radius: 5px 5px 20px 20px;
  margin: 0.2em auto;
  height: 65vh;
  padding: 3em 9em;
}

.left-column {
  width: 35%;
  height: 50%;
}

.right-column {
  width: 60%;
  height: 50%;
}

.four-tile-wrapper {
  display: flex;
  justify-content: center;
}

.four-tile {
  width: 22%;
  margin: 0.65em;
}

.three-tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: stretch;
  border: 5px solid var(--accent-pink);
  border-radius: 23px;
  padding: 0.5em 0;
}

.three-tile {
  height: 75%;
  width: 30%;
  margin: 0.5em;
  padding: 0.5em 1.5em;
  text-align: ce;
}

.big-number {
  font-size: 8em;
}

/* NAVBAR STYLES */

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
  padding: 0 3rem;
}

.logo {
  line-height: 0;
  color: var(--main-text-color-light);

  font-size: 1.5rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--main-text-color-light);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link {
  color: var(--main-text-color-light);
  font-size: 1.5rem;
}

.nav-link.active {
  color: var(--accent-pink);
}

.small-search-container {
  display: flex;
  align-items: center;
}

.small-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.small-input {
  padding: 3px 10px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.nav-search-icon {
  color: var(--main-text-color-light);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.nav-search-btn {
  display: flex;
  background-color: var(--secondary-bg-color);
  border: none;
  align-items: center;
}

/* HERO CONTAINER STYLES */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  gap: 1rem;
  height: 100vh;
}

.home-title {
  color: var(--main-text-color-dark);
  font-weight: 400;
}

/* HOME SEARCH BAR STYLES */

.skyline-container {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.skyline {
  display: flex;
  align-items: flex-end;
  padding: 0 25px;
  opacity: 0.3;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 2rem;
  background-color: var(--secondary-bg-color);
  gap: 1rem;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.big-form {
  background-color: var(--secondary-bg-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.big-input {
  padding: 4px;
  background-color: var(--secondary-bg-color);
  outline: none;
  border: none;
  color: var(--main-text-color-light);
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  width: 100%;
}

.search-btn {
  background-color: var(--secondary-bg-color);
  border: none;
}

.search-icon {
  color: var(--main-text-color-light);
  cursor: pointer;
}

/* LONDON MAP STYLES */

.london-container {
  width: 600px;
}

/* MOBILE STYLES 600px */

/* navbar styles */

@media (max-width: 600px) {
  .nav-bar {
    padding: 0 1rem;
  }
  .nav-menu {
    position: absolute;
    flex-direction: column;
    top: 8vh;
    left: 0;
    background-color: var(--secondary-bg-color);
    width: 100%;
    padding: 1rem 0;
    transform: translate(100%);
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
    flex-direction: column;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }
}

.inner-nav {
  font-size: 1.2em;
  background-color: var(--secondary-bg-color);
  border-radius: 5px 5px 0 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.inner-nav-clicked {
  font-size: 1.2em;
  background-color: var(--main-bg-color);
  border-radius: 5px 5px 0 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

a.inner-nav-clicked {
  color: var(--main-text-color-dark);
}

.tab-container {
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
  border-left: 1px solid var(--secondary-bg-color);
  border-right: 1px solid var(--secondary-bg-color);
  border-radius: 5px 5px 0 0;
  margin-top: 1em;
  width: 70%;
  margin: 0 auto;
}

.container-container {
  background-color: var(--secondary-bg-color);
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.2em;
  height: 65vh;
  border-radius: 5px 5px 20px 20px;
}
