/* HERO CONTAINER STYLES */

.hero-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  background-color: var(--main-bg-color);
  gap: 1rem;
  padding-top: 3rem;

  min-height: 92vh;
}

.home-title {
  color: var(--main-text-color-dark);
  font-weight: 400;
}

/* HOME SEARCH BAR STYLES */

.skyline-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.skyline {
  display: flex;
  align-items: flex-end;
  opacity: 0.6;
  width: 100%;
  border-radius: 2px;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: var(--secondary-bg-color);
  gap: 1rem;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

.big-form {
  background-color: var(--secondary-bg-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.big-input {
  padding: 4px;
  background-color: var(--secondary-bg-color);
  outline: none;
  border: none;
  color: var(--main-text-color-light);
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  width: 100%;
  border-bottom: solid 1px rgb(252, 238, 240, 0.3);
}

.search-btn {
  background-color: var(--secondary-bg-color);
  border: none;
}

.search-icon {
  color: var(--main-text-color-light);
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 5px;
  padding: 1rem 2rem;
  top: 62px;
  background-color: var(--secondary-bg-color);
}

.dropdown > a:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* LONDON MAP STYLES */

.london-container {
  max-width: 600px;
}

/* TABLET STYLES 820px */

@media (max-width: 820px) {
  /* hero styles */

  .hero-container {
    padding: 0 1rem;
  }

  .search-container {
    padding: 0.8rem 1.8rem;
  }

  .big-form {
    background-color: var(--secondary-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .big-input {
    padding: 3px;
    font-size: 1rem;
  }
}
